header {
  background-color: #121214;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
}

.title-contact{
  display: flex;
  align-items: center;
  margin-left: 8.50rem;
}

.title-contact h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.599rem;
  margin-left: 1.375rem;
}

.new-contact-button button {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 10rem;
  background-color: #00875F;
  padding: 12px 20px 12px 20px;
  border-radius: 6px;
  border: none;
}

.new-contact-button button:hover {
  background-color: #113027;
  transition: 0.4s;
  cursor: pointer;
}